@mixin group() {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */

	&:before, &:after {
	    content: "";
	    display: table;
	}

	&:after {
		clear: both;
	}	
}

%group {
	@include group;
}

@mixin circle($diameter) {
	border-radius: 50%;
	width: $diameter;
	height: $diameter;
}

@mixin thirds($margin: 1%) {
	width: ((100% - $margin * 2) / 3);
	margin-right: $margin;

	&:last-of-type {
		margin-right: 0;
	}
}

%plain-list {
	list-style: none;
	padding-left: 0;
}

%full {
	width: 100%;
}

%half {
	width: 50%;
}

.u-centered-text {
	text-align: center;
}

%centered-content {	
	margin-left: auto;
	margin-right: auto;
}

.u-centered-content {
	@extend %centered-content;
}

.d-block {
	display: block;
}