$pv-blue: #cceaf0;
$pv-pink: #d679a0;
$pv-lightest-gray: #ebebeb;
$pv-light-gray: #6b6b6b;
$pv-gray: #555;
$pv-darkish-gray: #464646;
$pv-dark-gray: #292929;
$pv-white: #fff;
$pv-green: #5CA35F;

/* header */
$header-height: 180px;

$max-width: 1366px;
$content-max-width: 1026px;
$content-padding: 0.8em;