@import "normalize";
@import "html-boilerplate";

@import "variables";
@import "helpers";

@import "rem";

@import "typography";
@import "icons";
@import "feature-detection";
@import "device";

@import "components/form";
@import "components/buttons";
@import "components/nav";
@import "components/arrows";
@import "components/header";
@import "components/footer";
@import "components/logo";
@import "components/image-header";
@import "components/dividers";
@import "components/news";
@import "components/product-highlight";
@import "components/image-with-arrow";
@import "components/fade-image";
@import "components/list-two-cols";
@import "components/guarantee";
@import "components/slider";
@import "components/testimonial";
@import "components/contactform";
@import "components/videoplayer";

@import "pages/shared";
@import "pages/frontpage";
@import "pages/services";
@import "pages/contact";
@import "pages/priimavalmennus";
@import "pages/personal-trainer-book";
@import "pages/styleguide";

@import "vendor/responsive-nav";

* {
	box-sizing: border-box;
}

::selection {
	background: lighten(#d679a0, 20%);
}

body {
	font-size: 100%;
	font-family: helvetica, arial;
	color: $text-color;
}

.page-wrap {
	@extend %centered-content;
	max-width: $max-width;	
}

.content-wrap {
	clear: both;
}

a {
	cursor: pointer;
	color: $pv-gray;

	&:visited {
		color: $pv-gray;
	}
}

wbr:after { content: "\00200B" }

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
img[src*=".svg"] {
  width: 100%\9;
}
/* 2 */
@media screen and (min-width:0\0) {
	img[src*=".svg"] {
		width: 100%;
	}
}