@import "normalize";
@import "html-boilerplate";

@import "variables";

@import "rem";

@import "typography";
@import "grid";

@import "components/buttons";
@import "components/nav";

@font-face {
	font-family: 'Helvetica Neue';
	src: url('/fonts/eot/HelveticaNeueLTStd-Th.eot');
	src: url('/fonts/eot/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/woff/HelveticaNeueLTStd-Th.woff') format('woff'),
	     url('/fonts/ttf/HelveticaNeueLTStd-Th.ttf')  format('truetype');
	font-style: normal;
	font-weight: 200;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/eot/helveticaneueltstd-md.eot');
    src: url('/fonts/eot/helveticaneueltstd-md.eot?#iefix') format('embedded-opentype'),
         url('/fonts/woff/helveticaneueltstd-md.woff') format('woff'),
         url('/fonts/ttf/helveticaneueltstd-md.ttf') format('truetype'),
         url('/fonts/svg/helveticaneueltstd-md.svg#HelveticaNeueLTStd65Medium') format('svg');
    font-style: normal;
    font-weight: 400;
}

body {
	font-size: 100%;
	font-family: helvetica, arial;
}

.page-wrap {
	padding: 0 0.8em 0.8em 0.8em;
}

.content-wrap {
	clear: both;
}

a {
	cursor: pointer;
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
img[src*=".svg"] {
  width: 100%\9; 
}
/* 2 */
@media screen and (min-width:0\0) {
  img[src*=".svg"] {
    width: 100%; 
  }
}

.nav-toggle {
	@extend .button;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	text-align: center;
	display: block;
}

@media screen and (min-width: 40em) {
	.nav-toggle {
		display: none;
	}
}

.nav-collapse {	
	ul > li {
		border: 1px solid $pvDarkGray;

		> a {
			@include navText;
			background-color: $pvWhite;			
			color: $pvDarkGray;
			text-decoration: none;			
			text-align: center;
			display: block;

			&:after {
				content: " \00bb";
			}
		}

		&.active {
			> a {
				background-color: $pvDarkGray;
				color: $pvWhite;
			}
		}
	}
}

@media screen and (min-width: 40em) {
	.nav-collapse {
		float: right;

		ul > li {
			width: 170px;
			height: 180px;			
			float: left;
			border: none;

			> a {
				line-height: 180px;

				&:after {
					content: "";
				}
			}			
		}
	}
}

.logo {
	> img {
		max-width: 100%;
	}
}

@media screen and (min-width: 40em) {
	.logo {
		float: left;

		> img {
			max-width: 220px;
		}
	}
}

@media screen and (min-width: 40em) {
	.logo {
		> img {
			max-width: 220px;
		}
	}
}

.social-media-updates {
	list-style: none;
	padding: 0;

	> li {
		> a {

		}
	}

	span {
		@include p2;
		color: $pvPink;
		text-transform: uppercase;
	}

	p {
		@include p2;
		margin-top: 0;
	}
}

.news {
	h1 {
		@include h4;
	}
}

.product-highlight {
	h1 {
		@include h4;
	}

	p {
		@include p1;
	}
}