@import "normalize";
@import "html-boilerplate";

@import "variables";
@import "helpers";

@import "rem";

@import "typography";

@import "components/buttons";
@import "components/nav";
@import "components/arrows";
@import "components/header";
@import "components/footer";
@import "components/logo";
@import "components/imageheader";
@import "components/dividers";
@import "components/news";
@import "components/producthighlight";
@import "components/image-with-arrow";

@import "pages/frontpage";
@import "pages/palvelut";

@import "vendor/responsive-nav";

* {
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: helvetica, arial;
	color: $text-color;
}

.page-wrap {
	@extend %centered-content;
	max-width: $max-width;
	padding: 0 0.8em 0.8em 0.8em;
}

@media screen and (min-width: 40em) {
	.page-wrap {
		padding: 0;
	}
}

.content-wrap {
	clear: both;
}

a {
	cursor: pointer;
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
img[src*=".svg"] {
  width: 100%\9;
}
/* 2 */
@media screen and (min-width:0\0) {
	img[src*=".svg"] {
		width: 100%;
	}
}