<footer>
	@@include('./templates/_logo.tpl.html')
	<section class="locations">
		<h1>Missä treenataan tällä hetkellä</h1>
		<ul>
			<li>Helsinki</li>
			<li>Vantaa</li>
			<li>Kerava</li>
			<li>Tuusula</li>
			<li>Sipoo</li>
			<li>Järvenpää</li>
			<li>Hyvinkää</li>
		</ul>
	</section>
	<section class="business" itemscope itemtype="http://schema.org/LocalBusiness">
		<h1 itemprop="name">Priima-valmennus / Vera Tamminen</h1>
		Phone: <span itemprop="telephone"><a href="tel:+358443714401">
		044 3714401</a></span>
	</section>	
</footer>