<footer class="page-footer">
	<div class="footer-wrapper" itemscope itemtype="http://schema.org/LocalBusiness">
		@@include('../templates/_logo.tpl.html')
		<section class="locations">
			<h1>Missä treenataan tällä hetkellä</h1>
			<ul>
				<li>Helsinki</li>
				<li>Vantaa</li>
				<li>Kerava</li>
				<li>Tuusula</li>
				<li>Sipoo</li>
				<li>Järvenpää</li>
				<li>Hyvinkää</li>
			</ul>
		</section>
		<section class="business" >
			<h1><span itemprop="name">Priima-valmennus</span> / Vera Tamminen</h1>

			<div class="business-contact clearfix">
				<div>
					<span class="contact-method-name">Puh: </span>
					<span itemprop="telephone">
						<a href="tel:+358443714401">044 3714401</a>
					</span>
				</div>

				<div>
					<span class="contact-method-name">e-mail: </span>
					<span itemprop="email">
						<a href="mailto:vera@priimavalmennus.fi">vera@priimavalmennus.fi</a>
					</span>
				</div>
			</div>

			<div class=""><a href="/tietosuojaseloste">Tietosuojaseloste</a></div>
		</section>	
	</div>
</footer>