.frontpage-wrapper {
	@extend %centered-content;
	max-width: $content-max-width;
	padding: 0 $content-padding;

	.video {
		img {
			width: 100%;
		}
	}

	@media screen and (max-width: 40em) {
		.video {
			margin-bottom: 40px;
		}
	}

	@media screen and (min-width: 30em) {
		.product-highlight {
			.text-wrapper {
				text-align: left;
			}
		}	
	}

	@media screen and (min-width: 40em) {
		.video {
			width: 61.98830409356725%;
			float: left;
		}	
	}
}