.services-page {
	.service {
		margin-bottom: 4em;

		> header {
			@extend %centered-content;
			max-width: $max-width;
		}

		> div {
			@extend %centered-content;
			max-width: $content-max-width;
			text-align: center;
		}

		.promise {
			@include h4;
			font-family: helvetica;
		}

		.introduction {
			@include h3;
			text-transform: uppercase;
			list-style: none;

			> li {
				margin-bottom: 20px;
			}
		}		
	}
}

.call-to-action {
	@include h4;
}

.option {
	@include fade-image;
}

@media screen and (min-width: 40em) {
	.option {
		float: left;
		width: 50%;
	}
}