.personal-trainer-book {
	.book-title {
		@include h3;
	}

	.training-material {
		float: left;
		width: 100%;
	}

	.training-videos-title {
		@include h4;	
	}

	.training-program {
		@include h5;
	}

	.personal-trainer-book-cover {
		max-width: 100%;
		margin-bottom: 2em;
	}

	.availability {
		margin-bottom: 2em;
	}

	aside {
		float: left;
		width: 100%;
	}
}