.priima-valmennus {
	h2 {
		@include h3;
	}

	h3 {
		@include h4;
		text-transform: none;
	}
}

.priimavalmennus-send-feedback {
	margin-bottom: 2em;
}

.instructor {
	h1 {
		@include rem(font-size, 2.125em);
		text-transform: uppercase;
		color: $pv-dark-gray;
		margin-bottom: 0;
		text-align: center;
	}

	p {
		@include rem(font-size, 1.625em);
		font-family: $header-font-family;
		font-weight: 200;
		margin: 0;
		text-align: center;
	}
}

.instructor-image {
	@extend %centered-content;
	display: block;
	max-width: 100%;
}

.priima-valmennus-booking-section {
	text-align: center;
	margin-bottom: 4em;
}