.service {
	margin-bottom: 4em;

	.promise {
		@include h4;
		font-family: helvetica;
		margin-bottom: 2em;
	}

	.introduction {
		@include h3;		
		list-style: none;
		padding-left: 0;

		> li {
			margin-bottom: 20px;
		}
	}

	.options {
		@extend %group;
	}
}

.service-divider {
	display: none;
}

.service-content {
	@extend .list-two-cols;

	> li {
		@extend .list-two-cols-item;
	}
}

@media screen and (min-width: 40em) {
	.service-divider {
		display: inline-block;
	}

	.service {
		.introduction {
			padding-left: 2em;
			padding-right: 2em;
		}

		.promise {
			margin-bottom: 4em;
		}
	}
}

.satisfaction-guarantee {
	margin-bottom: 4em;
}

.call-to-action {
	@include h4;
}

.option {
	@include fade-image;
}

@media screen and (min-width: 30em) {
	.option {
		float: left;
		width: 50%;
	}
}

.service-reserve-time {
	margin-bottom: 2em;
}