.u-content {
	> header {
		@extend %centered-content;
		max-width: $max-width;
	}

	> div, section {
		@extend %centered-content;
		max-width: $content-max-width;		
		padding: 0 $content-padding;
	}
}

.u-centered-text {
	text-align: center;
}

.u-centered-content {
	margin-left: auto;
	margin-right: auto;
	display: block;
}