$button-color: $pv-pink;
$button-background-color: $pv-white;

.button {
	background: $button-background-color;
	text-transform: uppercase;
	text-decoration: none;
	color: $button-color;
	border: 3px solid $button-color;
	padding: 0.5em 0.6em;
	display: inline-block;
	transition: background-color 0.4s ease;	

	&:hover {
		background-color: $pv-pink;
		color: $pv-white;
	}

	&:focus {
		outline: 0;
	}	
}

button {
	@extend .button;
}