@mixin fade-image() {
	position: relative;
	text-align: center;

	img {
		width: 100%;
		height: auto;
		transition: 0.2s all linear;
		z-index: 1;
	}

	.overlay {
		will-change: opacity;
		transition: opacity 0.2s ease;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		display: none;
		z-index: 2;

		background-color: black;
	}

	.caption, .description {
		will-change: left, top;
		position: absolute;
		left: 0;
		right: 0;		
		z-index: 3;
		color: $pv-white;		
		
		transition: left 0.2s, top 0.2s ease;
	}

	.caption {
		@include h2;
		@include rem(font-size, $h2-size * 0.8);
		top: 40%;
		text-transform: uppercase;
		display: inline-block;
	}

	.description {
		@include rem(font-size, 1em);
		top: 20%;		
		color: $pv-white;
		opacity: 0;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	&.long-texts {
		.caption {
			top: 30%;
		}

		.description {
			top: 40%;
		}
	}

	&:hover {
		> img {
			filter: url(/palvelut#blur); // TODO: find a way to remove 'palvelut'
			filter: blur(3px);
			-webkit-filter: blur(3px);
			-moz-filter: blur(3px);
			filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
		}

		.overlay {
			opacity: 0.5;
			display: block;
		}

		.caption {
			display: none;
		}

		.description {			
			opacity: 1;
			left: 0;
		}
	}

	@media screen and (min-width: 40em) {
		&.long-texts:hover {
			.description {				
				top: 15%;
			}
		}

		& {
			.description {
				@include rem(font-size, 1.2em);
			}
		}
	}

	@media screen and (min-width: 40em) {
		.description {
			padding-left: 1em;
			padding-right: 1em;
		}
	}

	@media screen and (min-width: 50em) {
		& {
			.caption {
				@include rem(font-size, $h2-size);
			}

			.description {
				@include rem(font-size, 1.4em);
			}
		}
	}	
}