footer {
	background-color: $pv-lightest-gray;
	clear: both;

	> div {
		@extend %group;
		@extend %centered-content;
		max-width: $content-max-width;
		padding: 0 0.8em 0.8em 0.8em;
	}

	.logo {
		display: none;

		> img {
			max-width: 109px;
		}
	}

	a {
		color: $pv-pink;
	}

	section {
		display: inline-block;
	}
}

@media screen and (min-width: 30em) {
	footer {
		.logo {
			display: inline-block;
		}
	}
}

%footer-data {
	color: $pv-pink;

	h1 {
		display: inline-block;
		@include footer-caption-text;
	}

	ul {
		> li {
			@include footer-text;
		}
	}	
}

.locations {
	@extend %footer-data;
	border-bottom: 1px solid lighten($pv-light-gray, 20%);
	padding-bottom: 1em;

	ul {
		@extend %plain-list;
		@extend %group;
		margin: 0;
		
		li {
			float: left;
			width: 50%;
		}
	}
}

.business {
	@extend %footer-data;	
}