footer {
	background-color: $pv-lightest-gray;
	clear: both;

	> div {
		@extend %group;
		@extend %centered-content;
		max-width: $content-max-width;
		padding: 0 0.8em 0.8em 0.8em;
	}

	.logo {
		> img {
			max-width: 109px;
		}
	}

	section {
		display: inline-block;
	}
}

%footer-data {
	color: $pv-pink;

	h1 {
		display: inline-block;
		@include footer-caption-text;
	}

	ul {
		> li {
			@include footer-text;
		}
	}	
}

.locations {
	@extend %footer-data;
}

.business {
	@extend %footer-data;
}