$footer-estimated-height: 280px;
$footer-logo-estimated-height: 63px;

$one-fifth: 100% / 5;
$two-fifths: $one-fifth * 2;

.page-footer {
	background-color: $pv-lightest-gray;
	clear: both;

	> div {
		@extend %group;
		@extend %centered-content;
		max-width: $content-max-width;
		padding: 0 0.8em 0.8em 0.8em;
	}

	.logo {
		display: none;

		> img {
			max-width: 130px;
		}
	}

	a {
		color: $pv-pink;
	}
}

@media screen and (min-width: 40em) {
	.page-footer {
		.logo {
			display: inline-block;
			float: left;
			width: $one-fifth;
			margin-top: $footer-estimated-height / 2 - $footer-logo-estimated-height / 2;
		}	
	}
}

%footer-data {
	color: $pv-pink;

	h1 {
		display: block;
		@include footer-caption-text;
	}

	ul {
		> li {
			@include footer-text;
		}
	}

	@media screen and (min-width: 25em) {
		& {
			float: left;
			width: 50%;
		}
	}

	@media screen and (min-width: 40em) {
		& {
			width: $two-fifths - 3%; // WTF: why isn't this working
		}
	}
}

.locations {
	@extend %footer-data;
	border-bottom: 1px solid lighten($pv-light-gray, 20%);
	padding-bottom: 1em;

	ul {
		@extend %plain-list;
		@extend %group;
		margin: 0;
		
		li {
			float: left;
			width: 50%;
		}
	}

	@media screen and (min-width: 25em) {
		& {
			padding-right: 5%;
			border-bottom: none;
		}
	}
}

.business {
	@extend %footer-data;	
}