header.main {
	@extend %group;
	@extend %centered-content;	
	margin-bottom: 2em;
	max-width: $content-max-width;
	padding: 0 $content-padding;

	.logo > img {
		padding: 1em;
		margin-bottom: 1em;

		&:hover {
			transform: scale(1.1);
		}		
	}
}

@media screen and (min-width: 25em) and (max-width: 30em) {
	header.main {
		.logo {
			> img {
				padding: 1em 6em;
			}
		}
	}
}

@media screen and (min-width: 30em) and (max-width: 45em) {
	header.main {
		.logo {
			> img {
				padding: 1em 8em;
			}
		}
	}
}

@media screen and (min-width: 45em) {
	header.main {
		height: 180px;

		.logo {
			> img {
				padding: 2em 0 0 1em;
			}
		}
	}
}