.image-with-arrow {
    position: relative;

    .arrow {
        position: absolute;
        top: 50%;
        margin-top: -10px;
    }

    .arrow.pointing-left {
        right: -1px;
    }

    .arrow.pointing-right {
        left: -1px;
    }

    > img {
        width: 100%;
    }
}