.image-title-highlight {
	position: relative;

	h1 {
		@include h1;
		text-transform: uppercase;
		left: 0;
	    position:absolute;
	    text-align:center;
	    margin: 0;
	    top: 40%;
	    width: 100%
	}

	img {
		max-width: 100%;
	}
}