.list-two-cols {
	@extend %group;
	padding-left: 0;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 60px;
}

.list-two-cols-item {
	width: 100%;
	float: left;
	text-align: left;
	padding: 10px 15px;	
	margin-bottom: 1em;
	border-radius: 15px 5px;	
	background-color: $pv-pink;
	color: $pv-white;		
}

@media screen and (min-width: 40em) {
	.list-two-cols {
		padding-left: 40px;
	}

	.list-two-cols-item {
		width: 50%;
		padding: 0 20px;
		margin-bottom: 0;
		border-radius: 0;
		background-color: $pv-white;
		color: $pv-dark-gray;
	}
}