$nav-height: 180px;

.nav-toggle {
	@extend .button;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	text-align: center;
	display: block;
}

.nav-toggle.active {
	border-bottom: 0;
}

@media screen and (min-width: 30em) {
	.nav-toggle {
		display: none;
	}
}

.nav-collapse {
	ul > li {
		> a {
			@include nav-text;
			font-size: 1.5em;
			line-height: 2em;
			font-weight: 200;		
			text-decoration: none;
			text-align: center;

			color: $pv-pink;
			border: 2px solid $pv-pink;
			border-bottom: 0;
			display: block;
		}

		&.active {
			> a {
				background-color: $pv-dark-gray;
				color: $pv-pink;
			}
		}

		&:hover {
			> a {
				transition: background-color 0.5s,
							color 0.5s;
				background-color: lighten($pv-pink, 20%);
			}
		}
	}
}

@media screen and (max-width: 30em) {
	.nav-collapse {
		ul > li:last-of-type > a {
			border-bottom: 2px solid $pv-pink;
		}
	}
}

@media screen and (min-width: 30em) and (max-width: 40em) {
	.nav-collapse {
		max-height: 125px !important;

		ul {
			> li {
				@extend %group;
				width: 49%;
				display: inline-block;

				> a {
					border: 2px solid $pv-pink;
				}
			}

			> li:nth-child(n+3) > a {
				border-top: 0;
			}
		}
	}
}

@media screen and (min-width: 40em) {
	.nav-collapse {
		float: right;
		height: $nav-height;

		ul > li {
			width: auto;
			float: left;
			border: none;

			> a {
				@include nav-text;
				line-height: $nav-height;
				
				padding: 0 10px;
				height: auto;

				background-color: $pv-white;
				color: $pv-dark-gray;
				border: 0;

				&:after {
					content: "";
				}
			}

			&:hover {
				> a {
					background-color: $pv-dark-gray;
					color: $pv-white;
				}
			}
		}
	}
}

@media screen and (min-width: 50em) {
	.nav-collapse {
		ul > li {
			width: 140px;
		}
	}
}