$nav-height: 180px;

.nav-toggle {
	@extend .button;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	text-align: center;
}

.nav-toggle.active {
	border-bottom: 0;
}

@media screen and (min-width: 30em) {
	.nav-toggle {
		display: none;
	}
}

.nav-collapse {
	@extend %group;

	ul {
		@include group;

		> li {
			> a {
				@include nav-text;
				transition: background-color 0.5s, color 0.5s;

				font-size: 1.5em;
				line-height: 2em;
				font-weight: 200;		
				text-decoration: none;
				text-align: center;
				color: $pv-pink;
				
				border: 2px solid $pv-pink;
				border-bottom: 0;
				display: block;
			}

			&.active {
				background-color: $pv-dark-gray;
				> a {
					color: $pv-pink;
				}
			}

			&:hover, &.current-link {
				background-color: $pv-pink;

				> a {
					color: white;
				}
			}
		}
	}
}

@media screen and (max-width: 30em) {
	.nav-collapse {
		ul > li:last-of-type > a {
			border-bottom: 2px solid $pv-pink;
		}
	}
}

@media screen and (min-width: 30em) and (max-width: 50em) {
	.nav-collapse {
		max-height: 152px !important;

		ul {
			> li {
				@include group;
				width: 49%;
				display: inline-block;

				> a {
					border: 2px solid $pv-pink;
				}
			}

			> li:nth-child(n+3) > a {
				border-top: 0;
			}
		}
	}
}

@media screen and (min-width: 50em) {
	.nav-collapse {
		float: right;
		height: $nav-height;
		width: calc(100% - 222px);

		> ul {
			height: 100%;
			display: flex !important;

			> li {
				width: auto;
				float: left;
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $pv-white;
				display: flex;
				align-items: center;

				> a {
					@include nav-text;
					
					color: $pv-dark-gray;
					padding: 0 10px;
					height: 100%;
					display: flex;
					align-items: center;
	
					border: 0;
	
					&:after {
						content: "";
					}
				}
	
				&:hover, &.current-link {
					background-color: $pv-dark-gray;

					> a {
						color: $pv-white;
					}
				}
			}			
		} 
	}
}

@media screen and (min-width: 55em) {
	.nav-collapse {
		ul > li {
			width: 120px;
		}
	}
}