.news {
	h1 {
		@include h4;
		margin-top: 0;
	}
}

@media screen and (min-width: 40em) {
	.news {
		width: 38.01169590643275%;
		float: left;
		padding: 0 40px;
		margin-top: 0.67em;
	}
}

.social-media-updates {
	list-style: none;
	padding: 0;

	> li {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	span {
		@include p2;
		color: $pv-pink;
		text-transform: uppercase;
	}

	p {
		@include p2;
		@include rem(font-size, $p2-size * 1.3);
		margin-top: 0;
		margin-bottom: 0;
		overflow-y: hidden;
	}
}

@media screen and (min-width: 40em) and (max-width: 45em) {
	.social-media-updates {
		p {
			@include rem(font-size, $p2-size * 0.8);
			height: 2.65em;
		}

		span {
			@include rem(font-size, $p2-size * 0.8);
		}		
	}
}

@media screen and (min-width: 45em) {
	.news {
		h1 {
			margin: 0.5em 0;
		}
	}

	.social-media-updates {
		p {
			@include rem(font-size, $p2-size);
			height: 2.65em;
		}

		span {
			@include rem(font-size, $p2-size);
		}		
	}
}

@media screen and (min-width: 40em) {
	.news {
		margin-top: 0;

		h1 {
			@include rem(font-size, 1.2em);			
		}
	}

	.social-media-updates {
		margin-top: 0;
		margin-bottom: 0;

		> li {
			margin-bottom: 0.5em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}