.product-highlight {
	@extend %group;

	h1 {
		@include h4;
	}

	p {
		@include p1;
	}

	.image-with-arrow {
		display: none;
	}
}

@media screen and (min-width: 45em) {
	.product-highlight {
		.text-wrapper {
			float: left;
			width: 45%;
			padding: 0.9em 1.8em 0 1.8em;
		}

		.image-with-arrow {
			display: inline-block;
			width: 55%;
			float: left;
		}
	}

	.product-highlight.alt {
		.text-wrapper {
			float: right;
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 50em) {
	.product-highlight {
		h1 {
			margin: 0.2em 0 0 0;
			font-size: $h4-size * 0.8;
		}

		p {
			margin: 0.5em 0;
		}
	}
}

@media screen and (max-width: 40em) {
	.product-highlight {
		margin-bottom: 40px;
	}
}

@media screen and (min-width: 60em) {
	.product-highlight {
		.text-wrapper {
			padding: 20px 65px;
		}
	}
}