.testimonial {
	margin: 0;	
	font-style: italic;
	background-color: #cceaf0;
	padding: 1em;
	border-radius: 1em;
}

.testimonial-text {
	margin: 0;
	font-size: 17px;
}

.testimonial-given-by {

}

.testimonial-name {
	
}