.testimonial {
	position: relative;
	font-style: italic;
	background-color: lighten($pv-blue, 10%);
	padding: 1em;
	margin: 0;
	border-radius: 1em;
}

.testimonial-text {
	margin: 0;
	font-size: 17px;
}

.testimonial-given-by {
	margin-top: 1em;
	color: $pv-pink;
	font-style: normal;
}

.testimonial-name {
	margin-right: 0.5em;
	display: inline-block;

	&:before {
		content: "—\00a0";
		color: #999;
	}
}

.testimonial-title {
	color: $pv-light-gray;
	display: inline-block;

	&:first-letter {
		text-transform: uppercase;
	}
}