<div class="frontpage-wrapper">
	<div class="video">
		<img src="images/etusivu_paakuva.jpg" alt="Personal trainer tapaaminen asiakkaan kanssa"/>
	</div>
	<section class="news">
		<h1>Ajankohtaista</h1>
		<ul class="social-media-updates">
		</ul>
	</section>
	<section class="product-highlight">
		<div class="text-wrapper">
			<h1>Oivallus</h1>
			<p>Personal trainerilta tukea muutokseen! Suunnataan säännöllisellä ja monipuolisella harjoittelulla määrätietoisesti kohti kuntotavoitteitasi.</p>
			<a class="button" href="/palvelut#oivallus">Katso kaikki palvelut</a>
		</div>
		<div class="image-with-arrow">
			<img src="images/oivallus-etusivu.jpg" alt="Oivallus-paketin esittelykuva" />
			<div class="arrow pointing-right"/>
		</div>
	</section>
	<section class="product-highlight alt">
		<div class="text-wrapper">
			<h1>Lajivalmennus</h1>
			<p>Opi valitsemasi lajin alkeet tai löydä uusia treenaamisen muotoja! Suunnitellaan keinot tavoitteesi saavuttamiseksi ja otetaan homma yhdessä haltuun.</p>
			<a class="button" href="/palvelut#lajivalmennus">Katso kaikki palvelut</a>
		</div>
		<div class="image-with-arrow ">
			<img src="images/lajivalmennus-etusivu.jpg" alt="Lajivalmennus esittelykuva" />
			<div class="arrow pointing-left"/>
		</div>
	</section>
	<section class="product-highlight">
		<div class="text-wrapper">
			<h1>Ole itsesi Personal Trainer-kirja</h1>
			<p>Uusi kirjani on nyt kaupoissa! 
			<br>
			<br>
			<em>"Saat minulta kaikki työkalut käteesi miellyttävän lopputuloksen saavuttamiseksi,
mutta käytännön puolella sinä toimit itsesi personal trainerina."</em></p>
			<a class="button" href="/ptkirja">Lue lisää</a>
		</div>
		<div class="image-with-arrow ">
			<img src="images/kirja_promo.jpg" alt="Ole itsesi personal trainer promokuva" />
			<div class="arrow pointing-right"/>
		</div>
	</section>	
</div>

<script type="text/template" id="tmpl-news-update">
	<% _.forEach(updates, function(update) { %>
	<li>
		<a href="<%= update.uri %>" target="_blank">
			<span><%= update.date %> </span>
			<p><%= update.text %></p>
		</a>
	</li>
	<% }); %>
</script>