<div class="frontpage-wrapper">
	<section class="product-highlight">
		<div class="text-wrapper">
			<h1>Priima-valmennus - Personal Trainer naisille</h1>
			<p>Haluaisitko tukea tavoitteelliseen treenaamiseen? Liikuntatieteiden maisteri Vera Tamminen auttaa naisia ikään ja lähtötasoon katsomatta pääsemään elämänsä kuntoon.</p>
			<a class="button" href="/palvelut">Tutustu palveluihini</a>
		</div>
		<div class="image-with-arrow">
			<img src="/images/etusivu_paakuva.jpg" alt="Personal trainer tapaaminen asiakkaan kanssa"/>
		</div>
	</section>
	<section class="product-highlight alt">
		<div class="text-wrapper">
			<h1>Löydät meidät sosiaalisesta mediasta</h1>
			@@include('./templates/components/_socialmedia.tpl.html')
		</div>
		<div class="image-with-arrow">
			<img src="/images/personal-trainer-asiakkaan-kanssa.jpg" alt="Oivallus-paketin esittelykuva" />
			<div class="arrow pointing-left"/>
		</div>		
	</section>	
</div>

<script type="text/template" id="tmpl-news-update">
	<% _.forEach(updates, function(update) { %>
	<li>
		<a href="<%= update.uri %>" target="_blank">
			<span><%= update.date %> </span>
			<p><%= update.text %></p>
		</a>
	</li>
	<% }); %>
</script>